@charset "UTF-8";

.sample_title {
	float: left;
	background-color: lightgoldenrodyellow;
	border: 7px ridge lightgreen;
	width: 1321px;
	margin-top: -10px;
	padding-left: 10px;
	height: 60px;
	font-size: 40px;
}

ul{
	float: right;
	margin-top: -60px;
	margin-right: 20px;
}

li {
	list-style: none;
	display: inline-block;
	width: 80px;
}